name: "units-test"
on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

permissions:
  id-token: write

jobs:
  # unit tests
  units:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: npm ci
    - run: npm test

  # test action works running from the graph
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Authenticate with Google Cloud
      id: auth
      uses: google-github-actions/auth@v0
      with:
        workload_identity_provider: projects/22448147000/locations/global/workloadIdentityPools/ci-pool/providers/github
        service_account: gha-select-qa-env@moonswitch-dev.iam.gserviceaccount.com
    - uses: ./
      with:
        table: qa-envs
